[submodule "core/jni/myssh"]
	path = core/jni/myssh
	url = https://github.com/NNdroid/myssh
[submodule "core/jni/hev-socks5-tunnel"]
	path = core/jni/hev-socks5-tunnel
	url = https://github.com/heiher/hev-socks5-tunnel
[submodule "core/jni/hev-socks5-tproxy"]
	path = core/jni/hev-socks5-tproxy
	url = https://github.com/heiher/hev-socks5-tproxy
